.m-home {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    position: relative;
    width: 100%;
    
    > * {
        width: 100%;
    }
    header {
        background: #dd2726;
        height: 0.44rem;
        ul {
            @include flexbox();
            height: 100%;
            li {
                height: 100%;
                &:not(:nth-child(2)) {
                    width: 0.66rem;
                    line-height: 0.44rem;
                    text-align: center;
                    color: #fff;
                    font-size: 0.2rem;
                }
                &:nth-child(2) {
                    @include flex(1);
                    border: none;
                    @include border-radius(.2rem);
                    width: 100%;
                    height: 80%;
                    text-align: center;
                    margin-top: 0.12rem;
                    overflow: hidden;
                    font-size: 0.12rem;
                }
            }
        }
    }
    nav {
        width: 100%;
        height: .4rem;
//      overflow: hidden;
        background: #fff;
        ul {
            height: .4rem;
            width: 4rem;
            @include flexbox();
            li {
                @include flex(1);
                text-align: center;
                line-height: 0.40rem;
                @include border(0 0 1px 0, #d9d9d9);
                &.active {
                    border-bottom: 0.02rem solid #dd2726;
                    color: #dd2726;
                }
            }
        }
    }
    section {
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
        .banner {
            img {
                width: 100%;
            }
        }
        .title {
            @include flexbox();
            height: 0.4rem;
            width: 100%;
            background: #f3f3f3;
            h2 {
                @include flex(1);
                width: 80%;
                text-align: center;
                line-height: 0.4rem;
                font-size: 0.16rem;
                color: #dd2726;
            }
            .more {
                width: 20%;
                line-height: 0.4rem;
                text-align: center;
                span {
                    color: #dd2726;
                }
            }
        }
        .product{
            ul{
                width: 100%;
                margin-bottom: .05rem;
                @include flexbox();
                li {
                    &:not(:nth-child(2)){
                        @include flex(1);
                        @include box-sizing(border-box);
                        background: #fff;
                        width: 49%;
                        img{
                            display: block;
                            width: 100%;
                        }
                        b{
                           display: block;
                           font-weight: normal;
                           padding: .08rem .1rem;
                           font-size: 14px;
                           color: #1a1a1a;
                        } 
                        span{
                            font-size: .2rem;
                            color: #f70008;
                            padding: 0 .1rem 0 .30rem;
                            
                        }
                        i{
                            font-size: .14rem;
                            color: #808080;
                            text-decoration: line-through;
                        }
                    }
                    &:nth-child(2){
                        width: 2%;
                    }
                }
            }
        }
        .pro-introduce{
            ul{
                width: 100%;
                @include flexbox();
                li{
                   @include flex(1);
                   @include box-sizing(border-box); 
                   background: #fff;
                   &:nth-child(2){
                       padding: 0 3%;
                   }
                   img{
                       width: 100%;
                       height: 100%;
                       display: block;
                   }
                   span{
                       display: block;
                       text-align: center;
                       color: #f70008;
                   }
                }
            }
        }
        .pro-special{
//          @include flexbox();
//          @incluce flex-direction(column);
            ul{
//              @include flexbox();
//              @incluce flex-direction(column);
                width: 100%;
                li{
//                  @include flex(1);
                    width: 100%;
                    .imgcon{
                        width: 100%;
                        position: relative;
                        img{
                            width: 100%;
                            display: block;
                        }
                        .timeset{
                            position: absolute;
                            left: 50%;
                            top: 0;                            
                            width: 50%;
                            height: .24rem;
                            background: grey;
                            opacity: 0.8;
                            text-align: center;
                            span{                               
                                color: #fff;
                                font-size: .12rem;
                                line-height: .24rem;
                            }
                        }    
                    }
                    b{
                        width: 80%;
                        display: inline-block;
                        font-weight: normal;
                        font-size: .16rem;
                        color: #0e0e0e;
                    }
                    i{
                        width: 20%;
                        font-size: .14rem;
                        color: #eb480d;
                        font-weight: 600;
                    }
                }
            }
        }
//      .ht5{
//          height: .45rem;
//      }
    }
}
