.m-login {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    position: relative;
    width: 100%;
    > * {
        width: 100%;
    }
    header {
       background: #fff;
       height: 0.44rem;
        @include flexbox();
        i{
            height: 100%;
            width: 18%;
            display: block;
            text-align: center;
            line-height: .44rem; 
            font-size: .18rem; 
        }
        .l-head {
            width: 82%;
            padding-left: 12%;
            margin-top: .1rem;
            ul{
                @include flexbox();
                width: 1.5rem;
                height: .27rem; 
                @include border(1px,#f15354); 
                li{
                  width: 50%;
                  line-height: .27rem;
                  text-align: center;
                  background: rgba(255,255,255,0.8);
                  color: rgba(241,83,84,0.8);
                  &.active{
                    color: rgba(255,255,255,0.8);
                    background: rgba(241,83,84,0.8);
                  }
                }
            }
        }
    }
}