@font-face {
font-family: yofont;
src: url("/douhuawang/img/iconfont/iconfont-home.woff") format("woff"),
 url("/douhuawang/img/iconfont/iconfont-home.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/douhuawang/img/iconfont/iconfont-my.woff") format("woff"),
   url("/douhuawang/img/iconfont/iconfont-my.ttf") format("truetype");
}
@font-face {
font-family: yofont;
src: url("/douhuawang/img/iconfont/iconfont-login.woff") format("woff"),
   url("/douhuawang/img/iconfont/iconfont-login.ttf") format("truetype");
}
