@charset "utf-8";
/* CSS Document */
/*============上衣主体部分*/
.symain{
	width: 100%;
	height: auto;
	
}
.symaincon{
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto 20px;
}
.sycon{
	float: left;
	padding: 0 8px;
	margin-bottom: 20px;
	position: relative;
}
.sycon span{
	width: 224px;
	font-size: 16px;
	color: #f69;dfgfg
	float: left;
	display: block;
	line-height: 34px;
}
.sycon p{
	font-size: 12px;
	color: #666;
	cursor: pointer;
}
.sycon p:hover{
	color: #f69;
}
.sycon img{
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.sycon a img:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.syhide{
	width: 80px;
	height: 20px;
	border-radius: 100px/70px;
	background: #f69;
	color: #fff;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 142px;
	top: 294px;
	display: none;
	-moz-transition: 1s;
}
.sycon a:hover .syhide{
	display: block;
}
